<ion-header>
  <ion-toolbar>

  <ion-buttons slot="start"> 
  </ion-buttons>
    <ion-title>Tarea: {{tarea.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      
      <ion-card-title>Descripcion</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{tarea.descripcion}}
    </ion-card-content>
  </ion-card>
  
</ion-content>

<ion-tabs >

  <ion-tab-bar color="dark" slot="bottom">   
    <ion-tab-button (click)="goBack()">
      <ion-icon name="arrow-back-outline"></ion-icon>
      <ion-label>Tareas</ion-label>
    </ion-tab-button>   
  </ion-tab-bar>

</ion-tabs>
